#header-container {
  height: 325px;
  font-size: 130%;
  color: #0c2259;
  margin-top: 50px;
}

#header-title {
  font-size: 2.5em;
}

#header-dsc {
  font-size: 1.5em;
}

#header-content-container {
  /* Place it at the center of the picture */
  padding-top: 70px;
  float: left;
  width: 60%;
  padding-right: 20px;
}

#header-content {
  /* Shift content to the right inside the content container to maintain proper overall width */
  padding-left: 20%;
}

#profile-container {
  text-align: right;
  float: left;
  /* Helps keep image not very far towards the right */
  padding-right: 5%;
  width: 30%;
}

@media (max-width: 768px) {

  /* Header container height is automatically set to the height of it's elements */
  #header-container {
    text-align: center;
    height: auto;
  }

  /* Place elements back in document flow. Helps align next section to the bottom of it */
  #header-content-container {
    float: none;
    padding: 0;
    width: 97%;
    padding-left: 10px;
  }

  #header-content {
    padding-left: 0;
  }

  #profile-container {
    text-align: center;
    float: none;
    width: 97%;
    padding-right: 0;
  }
}