#header-container {
  height: 300px;
  font-size: 130%;
  color:#0c2259;
}

#header-dsc {
  font-size: 120%;
}

#header-content-container {
  /* Place it at the center of the picture */
  padding-top: 70px;
  float: left;
  width: 55%;
}

#header-content {
  /* Shift content to the left inside the content container to maintain proper overall width */
  padding-left: 30%;
}

#profile-container {
  padding-right: 5%;
  float: left;
  width: 35%;
  opacity: 90%;
}

@media (max-width: 768px) {
  /* Header container height is automatically set to the height of it's elements */
  #header-container {
    text-align: center;
    height: auto;
  }
  /* Place elements back in document flow. Helps align next section to the bottom of it */
  #header-content-container {
    float: none;
    padding-top: 0;
    width: 97%;
  }
  #header-content {
    padding-left: 0;
    padding-right: 0;
  }
  #profile-container {
    float: none;
    width: 97%;
    padding-left: 0;
    padding-right: 0;
  }
}
