#personal-info {
  font-size: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.info-block {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 300px;
  width: 23%;
  background-color: lightgray;
}
.info-block-title {
  height: auto;
  font-size: 1.5em;
  margin-top: 10px;
}
.info-block-txt {
  margin: 5px;
}
@media (min-width: 992px) {
  .info-block {
    width: 32%;
  }
  .info-block:nth-child(3n+1) {
    height: auto;
  }
}
@media ((min-width: 768px) and (max-width:991.99px)) {
  .info-block {
    width: 48%;
  }
  .info-block:nth-child(2n+1) {
    height: auto;
  }
}
@media (max-width: 767.99px) {
  .info-block {
    width: 100%;
    height: auto;
  }
}
